html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.logo:hover,.botonCerrar:hover{
	opacity: 0.7;
	cursor: pointer;
}

header {
	background-color: #262726
}

header div{
	color: #ffffff;
}

header .logoCabecera {
	height: 4em;
}


.previa{
	height: 50%;
}


.previaConImagen{
	border: 2px solid #bdb2b2;
	height: auto;
}

.previaConImagen .imagenQueja{
	width: 100%;
}
/*
.pieDeQueja .botonGuardar {
	width: 2%;
}

.parejaPreviaSoloTexto {
	width: 30%;
}
*/
.previaSoloTexto{
	border: 2px solid #bdb2b2;
/*	width: 100%; */
}
footer #logoFooter {
	height: 4em;
}
.menu{
	border-style: none;
	list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
	background-color: #262726;
	
}
.activo{
	background-color: #ffffff;
}
.fondo{
	background-color: #262726;
}
.imgNoticia{
	width: 100%;
    height: auto;
}
.categoria{
	
	border-style: none;
	padding: 1cm;
	background-color: #262726;
	text-decoration-color: white;
}

.esconder{
	display: none;
}

.encabezadoQueja:hover{
	cursor: pointer;
}

#conjuntoDeQuejas{
	padding: 1%;
}

.textoCentrado {
	text-align: center;
}


#nuevaQueja {
	position: fixed;
	z-index: 100;
	height: 90%;
	left: 5%;
	top: 5%;
	width: 90%;
	background-color: #ffffff;
	border-radius: 25px;
}


#cuadroNuevaQueja {
	border-radius: 25px;
	height: 100%;
}

#cuadroNuevaQueja #nuevaQuejaArriba {
	height: 50%;
}

#cuadroNuevaQueja #pieDeNuevaQueja {
	height: 40%;
}
/*
#botonNuevaQueja {
	position: fixed;
	top: 0px;
	left: 50%;
}*/