* {
	font-family: Times, Times New Roman, serif;
	color: #ffffff;
	margin:0;
	padding:0;
}


header nav {
	width:100%;
	background: #262726;;
}
 
.menu_bar {
	display:none;
}
 
header nav ul {
	overflow:hidden;
	list-style:none;
}
 
header nav ul li {
	width: 100%;
	float:left;
}
 
header nav ul li a {
	margin-top: 2%;
	margin-bottom: 2%;
	color:#fff;
	display:block;
	text-decoration:none;
}
 
header nav ul li span {
	margin-right:10px;
}
 
header nav ul li a:hover {
	color:inherit;
    text-decoration:none;;
}
 
section {
	padding:20px;
}
 
@media screen and (max-width:600px ) {
	header nav {
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
	}
 
	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}
 
	.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
	}
 
	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:#262726;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
 
	.menu_bar span {
		float:right;
		font-size:40px;
	}
}



html, body {
	height: auto;
	margin: 0;
	padding: 0;
}

body{
	background-color: #215473;
}


header {
	font-weight: bolder;
	color: #EFF4F7;

	width:100%;
}

.encabezado {
	display: block;
	background-color: #262726;
}

header a{
	color:inherit;
    text-decoration:none;
}

header a:hover{
	color:inherit;
    text-decoration:none;
}

header span{
	font-weight: bolder;
}

header div{
	color: #ffffff;
	font-size: 100%;
}

header .menu {
	height: 100%;
	font-size: 0.8em;
}

header #linkLogoCabecera {
	display: inline-block;
	height: 10%;
}

header #logoCabecera {
	height: 3em;
}

footer {
	background-color: #262726;
}

footer #logoFooter {
	max-height: 100%;
}

.menu{
	border-style: none;
	list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
	background-color: #262726;
}

.menu *{
	border-style: none;
}
.menu li{
	font-size: 1.2em;
	font-weight: bolder;
}

.menu li a {
	color:inherit;
    text-decoration:none;
}

.menu li a:hover{
	color:inherit;
    text-decoration:none;
}

.logo:hover,.botonCerrar:hover{
	opacity: 0.7;
	cursor: pointer;
}


.previa{
	height: 50%;
}


.previaConImagen{
	border: 2px solid #bdb2b2;
	height: auto;
}

.previaConImagen .imagenQueja{
	width: 100%;
}
/*
.pieDeQueja .botonGuardar {
	width: 2%;
}

.parejaPreviaSoloTexto {
	width: 30%;
}
*/
.previaSoloTexto{
	border: 2px solid #bdb2b2;
/*	width: 100%; */
}

.activo{
	background-color: #215473;
	color: #ffffff;
}

.fondo{
	background-color: #262726;
}
.imgNoticia{
	width: 100%;
    height: auto;
}
.categoria{
	
	border-style: none;
	padding: 1cm;
	background-color: #262726;
	text-decoration-color: white;
}

.esconder{
	display: none;
}

.tituloQueja:hover{
	cursor: pointer;
}

#conjuntoDeQuejas{
	padding: 1%;
}

.textoCentrado {
	text-align: center;
}


#nuevaQueja {
	position: fixed;
	z-index: 2000;
	height: 90%;
	left: 5%;
	top: 5%;
	width: 90%;
	background-color: #215473;
	border-radius: 25px;
}

#cuadroNuevaQueja {
	border-radius: 25px;
	height: 100%;
}

#cuadroNuevaQueja #nuevaQuejaArriba {
	height: 50%;
}

#cuadroNuevaQueja #pieDeNuevaQueja {
	height: 40%;
}

svg{
	width: 100%;
}

.escritorio {
	display: block;
}

.movil {
	display: none;
}

@media screen and (max-width: 600px){

	header .d-flex{
		display: block;
		flex-wrap: nowrap;
		width: 100%;
		justify-content: center;
	}

	header h1{
		font-size: 200%;
	}
	

}


.hidden ul{
	height: 100%;
}
  .drawer {
	position: absolute;
	background: #262726;
	color: white;
	text-align: center;
	/* Remove 4px gap between <li> */
  }
  .drawer li {
	pointer-events: none;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	list-style: none;
	line-height: 100%;
	transform: translateZ(0);
  }
  .drawer a {
	pointer-events: auto;
	position: relative;
	display: block;
	min-width: 5em;
	margin-bottom: .4em;
	padding: .4em;
	line-height: 100%;
	/* Reset font-size */
	font-size: 16px;
	text-decoration: none;
	color: white;
	transition: background 0.3s;
  }
  .drawer a:active, .drawer a:focus {
	background: #215473;
  }
  .drawer i {
	display: block;
	margin-bottom: .2em;
	font-size: 2em;
  }
  .drawer span {
	font-size: .625em;
	font-family: sans-serif;
	text-transform: uppercase;
  }
  
  .drawer > li {
	display: block;
	/* Add a shadow to the top-level link */
	/* Show the shadow when the link is hovered over */
	/* Fly out menus */
  }
  .drawer > li > a {
	background: inherit;
  }
  .drawer > li:hover {
	z-index: 100;
  }
  .drawer > li a:hover {
	background: #085381;
  }
  .drawer > li > a:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 100%;
	width: 4px;
	opacity: 0;
	background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, transparent));
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
	background: -o-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
	background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
	background: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
	transition: opacity 0.5s;
  }
  .drawer > li:hover a:after {
	opacity: 1;
  }
  /**
   * Not required for demo
   */
  @keyframes circle {
	50% {
	  transform: scale(1.26923);
	}
  }
  @keyframes initials {
	50% {
	  transform: translateY(-8px) translateZ(0);
	}
  }
  .ild-ident {
	position: absolute;
	right: 20px;
	bottom: 20px;
  }
  .ild-ident svg {
	overflow: visible;
	transform: translateZ(0);
  }
  .ild-ident svg .circle-holder {
	transform: translate(-7px, -7px);
  }
  .ild-ident svg .circle {
	transform: translate(7px, 7px);
	fill: #7D294E;
  }
  .ild-ident svg.active .i {
	animation: initials .4s ease-in-out;
  }
  .ild-ident svg.active .l {
	animation: initials .4s .2s ease-in-out;
  }
  .ild-ident svg.active .circle {
	animation: circle .5s .1s ease-in-out;
  }
  