.logo:hover{
	opacity: 0.7;
	cursor: pointer;
}

header .logoCabecera {
	height: 4em;
}

.previaConImagen {
	border: 2px solid #bdb2b2;
	width: 50%;	
}

.pieDeQueja .botonGuardar {
	width: 2%;
}

footer #logoFooter {
	height: 4em;
}